@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@300&display=swap');

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(#009ACF, #2AE386);
    background-repeat: no-repeat; 
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.scoreBlock {
    color: #ffff;
    font-size: 35px;
    font-family: 'Anton', sans-serif;
    font-weight: 600;

}
#canvas {
    width: 600px;
    height: 350px;
    background-image: url('img/background.png');
}